body{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    padding: 5%;
    
}
aside{
    background-color: gray;
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
}
.main-page{
    width: 90%;
    height: 100%;
    background-color: white;
    
}
nav{
    height: 50px;
    background-color: rgba(128, 128, 128, 0.64);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.center{
    width: 50%;
    height: 100px;
    padding: 5%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.btn-nav{
    background-color: wheat;
    width: 20px;
    height: 20px;
    margin: 3%;


}
.purple{
    width: 90%;
    height: 30px;
    background-color: purple;
    margin: 5% 3% 0 3%;
}